.name {
	clear:both;
	display: block;
}

.fixed {
 color: red;
}

.btnwrapper {

}

.btn.answer {
	color: blue;
}

.btn.correct.answer {
	color: green;
}

.btn.incorrect.answer {
	color: red;
}

body {
	overflow:hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2em;
	position: fixed;
	overflow:hidden;
}
